<footer>
		<p class="copyright">Copyright © 2018 <a href="http://rmnhg.github.io" target="_blank">Ramón Hernández García</a>.
			<span class="second-line">Todos los derechos reservados.</span>
		</p>
</footer>
