<footer class="footer" data-background-color="black">
  <div class="container">
    <div class="copyright float-right">
      Copyright ©
      <script>
        document.write(new Date().getFullYear())
      </script> <a href="http://rmnhg.github.io" target="_blank">Ramón Hernández García</a>.
			<small><br>Todos los derechos reservados.</small>
    </div>
  </div>
</footer>
