<!--nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo"-->
<nav class="navbar navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-translate">
      <a class="navbar-brand" href="/"><b>Mis Quedadas</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Desplegar menú</span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item">
          <a class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
            <div class="profile-photo-small">
              <img src="/img/users/<%= user %>.jpg" onerror="this.src = '/img/users/usuario.jpg';" alt="Foto de perfil"  title="Imagen de <%= user %>" class="rounded-circle img-fluid">
            </div>
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Menú de usuario</h6>
            <a href="/perfil" class="dropdown-item">Tu perfil</a>
            <a href="/logout" class="dropdown-item">Cerrar sesión</a>
          </div>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-->
</nav>
